@import "tailwindcss";

@theme {
  --color-primary: #6D83FF;
  --color-bg-primary:#F8F8FF;  
  --color-box-border:#ECECEC;  
}


@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px) scaleY(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

@theme {
  --animate-dropdown: dropdown 0.25s ease-out forwards;
}

.spread-glow {
  position: relative;
}

.spread-glow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;      /* how large glow appears */
  height: 150px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(127, 86, 217, 0.45) 0%,
    rgba(127, 86, 217, 0.20) 40%,
    rgba(127, 86, 217, 0.10) 60%,
    transparent 100%
  );
  filter: blur(35px);
}


.swiper{
  width:100%;
  padding:50px 0;
}


.swiper-slide{
  position:relative;
  width:320px;
  aspect-ratio: 3/4;
  border-radius: 14px;
  border:1px solid rgba(177,177,177,0.4);
}

.swiper-slide img{
  display:block;
  width: 100%;
  height:100%;
  object-fit: cover;
  border-radius: inherit;
  user-select: none;
}

.title{
  position: absolute;
  bottom:5px;
  left:50%;
  transform:translate(-50%,-20%);
  -ms-trnsform:translate(-50%,-20%);
  width:max-content;
  text-align: center;
  padding:10px 18px;
  background:rgba(46,39,39,0.3);
  border-radius: 8px;
  border:2px solid rgba(177,177,177,0.2);
  box-shadow: 0 4px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s linear;
}

.title span{
  font-size: 1.2rem;
  font-weight :600;
}